<div class="section" id="experience">
  <div class="container cc-experience">
    <div class="h4 text-center mb-4 title">Work Experience</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>Late 2019 - 2020</p>
            <div class="h5">First Big Project</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Full Stack Developer</div>
            <p>Take part in <strong>eBreak project</strong>, It is the first big project i do. Use
              <strong>Angular and Nestjs</strong> to build this system. It will be complete soon. I very love this project.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>Mid-2019 - Late 2019</p>
            <div class="h5">Front-end</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Front-end Developer</div>
            <p>I am a member just design font-end for a small application. Like <strong>Guessing Game, MyMessages, Tictactoe</strong>.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
